<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
    .container {
        margin: 100px 100px;
    }
    .home--link{
        display: inline-block;
    }
</style>

<body>
<div class="container">
    <div class="home--link">
        <a href="http://127.0.0.1:8000/" > <h2>Go to home page</h2> </a>
    </div>

    <div class="search--bar">
        <input type="text" id="search--bar" placeholder="type here for search">
        <button type="submit" id="search--submit--btn">Submit</button>
    </div>

    <div class="header--text">
        <h1>Books</h1>
        <h1>My Page</h1>
    </div>
    <table id="books" border="1">
        <thead>
        <th>Id</th>
        <th id="title--filter">Book title</th>
        <th>Book authors</th>
        <th>Book genres</th>
        <th>Book conditions</th>
        <th>Book Location</th>
        <th>Owner</th>

        <th colspan="2" id="mid">Action</th>
        </thead>
        {% for x in books %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.title }}</td>
                <td>{{ x.authors }}</td>
                <td>{{ x.genres }}</td>
                <td>{{ x.condition }}</td>
                <td>{{ x.location }}</td>
                <td>{{ x.owner }}</td>

                <td>
                    <a href="update/{{ x.id }}">
                        <button id="up">update</button>
                    </a>
                </td>
                <td>
                    <a href="delete/{{ x.id }}">
                        <button id="del">delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'add' %}">
        <button id="new3">Add Book</button>
    </a>
</div>

<script>
</script>

</body>

</html>