<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="header--div">
        <h1> This is the home page </h1>
    </div>
        <div class="register--and--login">
            <a href="{% url 'reg' %}" class="btn"> Register here </a>
            <a href="{% url 'my-login' %}" class="btn"> Login here </a>
        </div>

    <br> <br>

    <div class="container">

        <!--search bar-->
    <div class="search--bar">
        <form action="{% url 'search' %}" method="get">
            {% csrf_token %}

            <input type="text" name="q" class="search--bar" placeholder="type here for search">
            <button type="submit" class="search--submit--btn">Search</button>
        </form>
    </div>

        <div class="header--text">
            <h1>All Books</h1>

<!--            we need to detect if user login successfully, and then show her dashboard on homepage-->
<!--            otherwise go user to login page -->
<!--            but at this moment this not working-->
            {% if 'userlogin' == 'userlogin' %}
                <a href="{% url 'dash' %}" >
                    <h2>My Dashboard</h2>
                </a>
            {% else %}
                <a href="{% url 'my-login' %}" >
                    <h2>My Dashboard</h2>
                </a>
            {% endif %}
        </div>

<!--        table-->
        <table id="books" border="1">
            <thead>
                <th>Id</th>
                <th>Book title</th>
                <th>Book authors</th>
                <th>Book genres</th>
                <th>Book condition</th>
                <th>Book location</th>
                <th>Owner</th>

            </thead>
            {% for x in books %}
            <tr class="table--rows">
                <td>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td>{{x.authors}}</td>
                <td>{{x.genres}}</td>
                <td>{{x.condition}}</td>
                <td>{{x.location}}</td>
                <td>{{x.owner}}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br>

    </div>
</body>



</html>